header{
    padding: 20px;
}


.jumbotron {
    display: flex;
    justify-content: center;
    background-size: cover;
    background-color: black;
}

.jumbotron h2 {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    color: #fff;
  }

  .jumbotron h4 {
    margin: 0 0 20px;
    color: #fff;
  }

  .row{
    justify-content: center;
  }

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  }

  img{
    width: 250px;
    height: 250px;
    margin-left: 50px;
    margin: 50px
  }