body {
    background-color: palevioletred;
    font-family: 'Send Flowers', cursive;
}

header{
    padding: 20px;
    background-color: palevioletred;
}


.jumbotron {
    display: flex;
    justify-content: center;
    background-size: cover;
    background-color: black;
    color: palevioletred;
}

.jumbotron h2 {
    font-size: 90px;
    font-weight: 700;
    margin: 0;
  }

  .jumbotron h4 {
    margin-top: 35px;
  }

  .row{
    justify-content: center;
  }

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  }

  img{
    width: 250px;
    height: 250px;
    margin-left: 50px;
    margin: 50px
  }